.t-editor {
  user-select: text;
  word-wrap: break-word;
  cursor: text;
  outline: 0;
  white-space: pre-wrap;
  color: #1d1d1f;
  flex: 1;
}
.t-editor:empty:before {
  content: '无标题';
  color: #d3d3d3;
}
.t-editor.item-note {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}
.t-editor.item-note:focus {
  overflow: visible;
  -webkit-line-clamp: initial;
}
